.jumbotron{
    padding: 60px 20px 60px 20px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 25px 0px 25px 0px;
}
.row-content{
    margin: 0px auto;
    padding:  30px 0px 30px 0px;

    border-bottom: 1px ridge;
    min-height: 200px;
}